@import "../../scss/_variables";

.sendex-value {
  color: $color-text-light;
  display: flex;
  padding: .5rem 1rem;
  background: $color-bg-darker;
  border-radius: 8px;
  align-items: center;
  flex: 1 1 auto;
  justify-content: center;

  &__title {
    padding: 1rem;
    margin: 0;
    font-size: 3.5rem;

    @media (max-width: 710px){
      font-size: 3rem;
    }

    @media (max-width: 380px){
      font-size: 2.5rem;
    }
  }

  &__value {
    padding: 1rem;
    margin: 0;
    font-size: 3rem;

    @media (max-width: 710px){
      font-size: 3rem;
    }

    @media (max-width: 380px){
      font-size: 2.5rem;
    }
  }
}
