@import "scss/_variables";

.main {
  font-size: 1.6rem;
  min-height: 100vh;
  display: flex;
  background-color: $color-bg-darkest;

  @media (max-width: 705px){
    width: fit-content;
    width: -moz-fit-content;
  }

  &__content {
    flex: 1 1 auto;
  }
}
