<div class="info-dialog">
  <div class="info-dialog__title">
    <p>Basic Sendex:</p>
  </div>
  <div class="info-dialog__content">
    <code class="info-dialog__content_formula"><span class="info-dialog__content_formula_text"><span class="constant-color">2</span> * <span class="variable-color">DewPoint</span> + <span class="variable-color">Humidity</span> - <span class="variable-color">MinTemp</span></span></code>
    <br/>
    <p class="info-dialog__content_description">
      Generally, a Sendex of 100 is just about perfect conditions, however precipitation can skew this number.
    </p>
  </div>
</div>
