<mat-drawer-container class="sidenav__container">
  <mat-drawer mode="side" opened="true">
    <div class="sidenav__title">
      <h2>Friction Report</h2>
    </div>
    <mat-accordion multi>
      <mat-expansion-panel class="sidenav__panel">
        <mat-expansion-panel-header class="sidenav__header">
          <mat-panel-title>
            Tennessee
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-container *ngFor="let area of climbingAreas; index as i; trackBy:areaByName">
          <a routerLink="{{area.apiName}}" routerLinkActive="active" class="sidenav__link">
            <div class="sidenav__subpanel" *ngIf="area.state==='TN'">
              <p class="sidenav__subpanel_text">{{area.name}}</p>
            </div>
          </a>
        </ng-container>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Alabama
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-container *ngFor="let area of climbingAreas; index as i; trackBy:areaByName">
          <a routerLink="{{area.apiName}}" class="sidenav__link">
            <div class="sidenav__subpanel" *ngIf="area.state==='AL'">
              <p>{{area.name}}</p>
            </div>
          </a>
        </ng-container>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Georgia
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-container *ngFor="let area of climbingAreas; index as i; trackBy:areaByName">
          <a routerLink="{{area.apiName}}" class="sidenav__link">
            <div class="sidenav__subpanel" *ngIf="area.state==='GA'">
              <p>{{area.name}}</p>
            </div>
          </a>
        </ng-container>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Kentucky
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-container *ngFor="let area of climbingAreas; index as i; trackBy:areaByName">
          <a routerLink="{{area.apiName}}" class="sidenav__link">
            <div class="sidenav__subpanel" *ngIf="area.state==='KY'">
              <p>{{area.name}}</p>
            </div>
          </a>
        </ng-container>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            North Carolina
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-container *ngFor="let area of climbingAreas; index as i; trackBy:areaByName">
          <a routerLink="{{area.apiName}}" class="sidenav__link">
            <div class="sidenav__subpanel" *ngIf="area.state==='NC'">
              <p>{{area.name}}</p>
            </div>
          </a>
        </ng-container>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-drawer>
</mat-drawer-container>
