@import "../../scss/variables";

mat-drawer-container {
 flex: 1 1 auto;
}

mat-drawer{
  width: 15vw;
}

.sidenav {
  height: 100%;

  &__content {
    background-color: $color-bg-darker;
  }

  &__title{
    margin: 1rem;
    display: flex;
    justify-content: center;
  }


  &__panel {
    background-color: $color-bg-darker;

    * {
      color: $color-text-light;
    }
  }

  &__header{

  }

  &__link {
    text-decoration: none;
  }

  &__subpanel {
    padding: 1rem;
    border: 1px solid transparent;
    border-radius: 10px;

    &:hover{
      border: 1px solid $color-text-lighter;
    }

    p {
      margin: 0;
    }
  }

  .active {

    .sidenav__subpanel{
      background: $color-bg-med;
    }
  }
}
