<ng-container *ngIf="mode === 'over'">
  <div class="sidenav__button" (click)="opened=!opened">
    <mat-icon svgIcon="menu"/>
  </div>
</ng-container>
<mat-sidenav-container class="sidenav" [hasBackdrop]="hasBackdrop">
  <mat-sidenav [mode]="mode" [opened]="opened" class="sidenav__content">
    <div class="sidenav__title">
      <h2>Friction Report</h2>
    </div>
    <mat-accordion multi>
      <mat-expansion-panel class="sidenav__panel" disabled="true">
        <mat-expansion-panel-header class="sidenav__header ">
          <a routerLink="map" routerLinkActive="active" class="sidenav__link">
            <mat-panel-title class="sidenav__header_text">
              Map
            </mat-panel-title>
          </a>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
      <ng-container *ngFor="let state of states">
        <mat-expansion-panel class="sidenav__panel">
          <mat-expansion-panel-header class="sidenav__header">
            <mat-panel-title class="sidenav__header_text">
              {{state}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ng-container *ngFor="let area of climbingAreas; index as i; trackBy:areaByName">
            <a routerLink="{{area.name}}" routerLinkActive="active" class="sidenav__link">
              <div class="sidenav__subpanel" *ngIf="area.state===state">
                <p class="sidenav__subpanel_text">{{area.fullName}}</p>
              </div>
            </a>
          </ng-container>
        </mat-expansion-panel>
      </ng-container>
    </mat-accordion>
  </mat-sidenav>
</mat-sidenav-container>

