@import "../../scss/variables";

* {
  color: $text-color-main;
}

mat-drawer-container {
 flex: 1 1 auto;
}

mat-drawer{
  width: 15vw;
}

.sidenav {
  height: 100%;

  &__title{
    margin: 1rem;
    display: flex;
    justify-content: center;
  }


  &__panel {

  }

  &__header {

  }

  &__link {
    text-decoration: none;
  }

  &__subpanel {
    padding: 1rem;
    border: 1px solid transparent;
    border-radius: 10px;

    &:hover{
      border: 1px solid $text-color-main;
    }

    p {
      margin: 0;
    }
  }

  .active {

    .sidenav__subpanel{
      background: $background-color;
    }
  }
}
