@import "../../scss/variables";

mat-sidenav-container {
  flex: 1 1 auto;
  overflow: visible;
  width: -moz-fit-content;
  width: fit-content;
}

mat-sidenav{
  width: 15vw;
  min-width: 200px;
  height: 100%;

  @media (max-width: 710px){
    width: 70vw;
    position: fixed;
  }
}

.sidenav {
  height: 100%;
  z-index: 900;

  &__button {
    position: fixed;
    color: $color-accent-light;
    z-index: 999;
    padding: .5rem;
    transform: scale(1.1);
  }

  &__content {
    background-color: $color-bg-darker;
  }

  &__homepage {
    text-decoration: none;
    color: inherit;
  }

  &__title{
    margin: 1rem;
    display: flex;
    justify-content: center;
  }

  &__panel {
    background-color: $color-bg-darker;

    * {
      color: $color-text-light;
    }

  }

  &__link {
    text-decoration: none;
  }

  &__subpanel {
    padding: 1rem;
    border: 1px solid transparent;
    border-radius: 10px;

    &:hover{
      border: 1px solid $color-text-lighter;
    }

    p {
      margin: 0;
    }
  }

  &__footer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    bottom: 0;
    width: 100%;
    height: 3rem;
    position: absolute;
    color: $color-text-dark;
    margin-bottom: 1rem;

    &_github {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
      margin-left: 1rem;
      height: 100%;
      color:inherit;
    }

    &_separator {
      margin: 1rem;
      color: $color-accent-light;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &_email {
      padding: 0;
      text-align: center;
      margin: auto;
      margin-right: 1rem;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color:inherit;
      text-decoration: none;
    }
  }

  .active {

    .sidenav__subpanel{
      background: $color-bg-med;
    }
  }
}

#map-link {
  :hover{
    background: $color-bg-sidenav-hover;
  }
}
