*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}

.mat-drawer-backdrop {
  width: 100vw;
}

.mat-drawer-backdrop.mat-drawer-shown {
  background-color: #23283750;
}
