@import "../../scss/_variables";

.dashboard{
  height: 100%;
  width: 100%;
  display: flex;
  padding: 2rem;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $color-text-light;

  @media (max-width: 710px){
    width: 100vw;
  }

  &__title {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: max(4vh, 2rem);
    height: fit-content;

    @media (max-width: 710px){
      justify-content: center;
    }

    &_link {
      display: flex;
      justify-content: baseline;
      color: $color-accent-light;
      margin: 0;
    }

    &_text {
      padding-right: 1rem;
      margin: 0;
      font-size: 4rem;

      @media (max-width: 710px){
        font-size: 3rem;
      }
    }
  }


  &__sendex{
    width: 90%;
    background: $color-bg-med;
    display: flex;
    flex-direction: column;
    border-radius: 16px;


    &_title {
      padding-left: 2.4%;
      padding-top: 1rem;

      @media (max-width: 1180px){
        display: flex;
        justify-content: center;
      }

      h2 {
        font-size: 3rem;
        margin: 0;
      }
    }

    &_values {
      padding: 2rem 0;
      display: flex;
      width: 100%;
      justify-content: space-evenly;

      @media (max-width: 1180px){
        padding-top: 0;
      }

      friction-sendex-value {
        width: 30%;
      }

      @media (max-width: 1180px){
        flex-direction: column;
        align-items: center;

        friction-sendex-value {
          padding: 2rem 0;
          width: 90%;
        }
      }


    }

  }

  &__graphs {
    display: flex;
    width: 90%;
    justify-content: space-between;
    padding: 2rem 0;

    friction-hourly-graph {
      width: 49%;
    }

    friction-weekly-graph {
      width: 49%;
    }

    @media (max-width: 1180px){
      flex-direction: column;
      align-items: center;

      friction-hourly-graph {
        width: 100%;
        padding-bottom: 2rem;
      }

      friction-weekly-graph {
        width: 100%;
      }
    }
  }

  &__forecast {
    width: 90%;
  }

}
